/* line 6, main.scss */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Open Sans, Helvetica;
}

/* line 15, main.scss */
#tab-list {
  padding-top: 30px;
  padding-left: 2vw;
  background-color: #f2f2f2;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-justify-content: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
/* line 25, main.scss */
#tab-list .tab-title {
  max-height: 30px;
  margin: 0px 2px 0px 2px;
  padding: 20px;
  font-size: 1.7vw;
  text-align: center;
  color: #007ea1;
  background-color: #f2f2f2;
}
/* line 35, main.scss */
#tab-list .tab-title.open {
  color: black;
  background-color: white;
  border-top: 3px solid #007ea1;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  -moz-box-shadow: 3px -3px 6px -3px #bbb, -3px -3px 6px -3px #bbb;
  -webkit-box-shadow: 3px -3px 6px -3px #bbb, -3px -3px 6px -3px #bbb;
  box-shadow: 3px -3px 6px -3px #bbb, -3px -3px 6px -3px #bbb;
}

/* line 49, main.scss */
#tab-page {
  width: 100vw;
  padding: 2vw;
  background-color: white;
  -moz-box-shadow: 0px -3px 3px 0.1px #eee;
  -webkit-box-shadow: 0px -3px 3px 0.1px #eee;
  box-shadow: 0px -3px 3px 0.1px #eee;
}
/* line 56, main.scss */
#tab-page .tab-content {
  display: none;
}
/* line 58, main.scss */
#tab-page .tab-content.open {
  display: block;
}

@media (max-width: 500px) {
  /* line 65, main.scss */
  #tab-list {
    padding: 0;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  /* line 73, main.scss */
  #tab-list .tab-title {
    width: 100vw;
    max-height: 100%;
    margin: 0px;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 8vw;
  }

  /* line 84, main.scss */
  #tab-page {
    padding: 5vw;
    box-sizing: border-box;
  }
}
